<div class="row">
  <div class="col-12">
      <div class="card" style="border-radius: 25px">
          <div class="card-body">
            <h4 class="card-title mb-2">Progress bars</h4>
            <div class="progress" style="height: 10px; height: 14px;">
              <div class="progress-bar bg-success progress-bar active"
                   style="width: 20%; " role="progressbar">

              </div>
            </div>
          </div>
      </div>
  </div>

</div>

<div class="row">
  <div class="col-6">
    <div class="card" style="border-radius: 25px">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-minus"></i>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="Product name">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




