
                <!-- Row -->
                <div class="row ">
                  <!-- Column -->
                      <!-- Single Advisor-->
                      <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                          <!-- Team Thumb-->
                          <div class="advisor_thumb" style="text-align:center ;"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="315" height="315" alt="">
                            <!-- Social Info-->
                            <div class="social-info"><a href="#"><i class="fa-solid fa-paw"></i></a></div>
                          </div>
                          <!-- Team Details-->
                          <div class="single_advisor_details_info">
                            <h6>Camilo Garcia</h6>
                            <p class="designation">Propietario</p>
                          </div>
                        </div>
                      </div>
                  <!-- Column -->
                  <div class="col-lg-8 col-xlg-9 col-md-7">
                      <div class="card">
                          <div class="card-body">
                              <form class="form-horizontal form-material mx-2">
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <input  type="text"
                                            class="form-control"
                                            formControlName="nombre">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label>Apellido</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="apellido">

                                  </div>

                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label>Tipo de documento</label>
                                    <select class="form-control"
                                            formControlName="tipoDocumento">
                                      <option value="" selected>Selecione...</option>
                                      <option

                                        >

                                      </option>
                                    </select>

                                  </div>
                                  <div class="form-group col-md-6">
                                    <label>Número del documento</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="numeroDocumento">

                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label>Celular</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="celular">

                                  </div>
                                  <div class="form-group col-md-6">
                                    <label>Tipo de Usuario</label>
                                    <select class="form-control"
                                            formControlName="tipoUsuario">
                                      <option value="" selected>Selecione...</option>
                                      <option
                                        >

                                      </option>
                                    </select>

                                  </div>
                                </div>

                                <div class="form-group">
                                  <label>Correo Electrónico</label>
                                  <input type="email"
                                         class="form-control"
                                         formControlName="email">

                                </div>
                                <div class="form-group">
                                  <label>Contraseña</label>
                                  <input type="password"
                                         class="form-control"
                                         formControlName="clave">

                                </div>

                                <div class="form-group" style="margin-top: 50px;">
                                  <button type="submit" class="btn btn-block login-btn2">Registrar</button>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>
              <!-- Row -->
              <div class="row contenedor-cards">

                <div class="card-ficha">
                  <div class="left-column background2-left-column">

                    <h2>Perros</h2>
                    <i class="fa-solid fa-dog" aria-hidden="true"></i>
                  </div>
                  <div class="rigth-column">
                    <div>
                      <h4>Mascotas Registradas</h4>
                    </div>
                    <h2> 3</h2>
                    <button class="button background2-left-column" type="submit">Ver mas</button>
                  </div>
                </div>

                <div class="card-ficha">
                  <div class="left-column background1-left-column">

                    <h2>Gatos</h2>
                    <i class="fa-solid fa-cat" aria-hidden="true"></i>
                  </div>
                  <div class="rigth-column">
                    <div>
                      <h4>Mascotas Registradas</h4>
                    </div>
                    <h2> 1</h2>
                    <button class="button background1-left-column" type="submit">Ver mas</button>
                  </div>
                </div>





              </div>
