                <!-- Row -->
                <div class="row ">
                  <!-- Column -->
                      <!-- Single Advisor-->
                      <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                          <!-- Team Thumb-->
                          <div class="advisor_thumb" style="text-align:center ;"><img src="../../../assets/login/images/cachorro.jpg" width="330" height="330" style="border-radius: 10px; ;">
                            <!-- Social Info-->
                            <div class="social-info"><a href="#"><i class="fa-solid fa-paw"></i></a></div>
                          </div>
                          <!-- Team Details-->
                          <div class="single_advisor_details_info">
                            <h6 style="color:#fff ;">Mascota</h6>
                          </div>
                        </div>
                      </div>
                  <!-- Column -->
                  <div class="col-lg-8 col-xlg-9 col-md-7">
                      <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                          <div class="card-body">
                            <h2 style="color: #009efb">Registrar Mascota</h2>
                              <form action="">

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Nombre</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Apellido</label>
                                    <input type="password" class="form-control" id="inputPassword4">
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputState">Tipo de documento</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">Número de documento</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">Número de documento</label>
                                    <input type="text" class="form-control" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputState">Tipo de usuario</label>
                                    <select id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option>...</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Correo electroníco</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Estado</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label >Imagen</label>
                                  <div class="form-group col-md-6">
                                      <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                      <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                  </div>
                                </div>
                                <div style="display: flex;justify-content: center;">
                                  <button type="submit" class="btn btn-outline-primary btn-lg">
                                    <i class="fa-sharp fa-solid fa-user-pen"></i> Registrar</button>

                                </div>

                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>
              <!-- Row -->
