                <!-- Row -->
                <div class="row ">
                  <!-- Column -->
                      <!-- Single Advisor-->

                  <!-- Column -->
                  <div class="col-lg-12 col-xlg-9 col-md-7">
                      <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                          <div class="card-body">
                            <h2 style="color: #009efb">Registrar Mascota</h2>
                              <form [formGroup]="mascotaForm"
                                    (ngSubmit)="crearMascota()" >

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputEmail4">Nombre Mascota</label>
                                    <input type="text"
                                           class="form-control"
                                          formControlName="nombreMascota"
                                          >
                                          <p class="col text-danger" *ngIf="campoNoValido('nombreMascota')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Especie</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                           formControlName="especie">
                                      <option  value="" selected></option>
                                      <option
                                            *ngFor="let especie of especie"
                                            [value]="especie">
                                            {{especie}}
                                      </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('especie')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Caracteristica</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                            formControlName="caracteristica">
                                            <option  value="" selected></option>
                                            <option
                                                  *ngFor="let caracteristica of caracteristica"
                                                  [value]="caracteristica">
                                                {{caracteristica}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('caracteristica')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Sexo de tu mascota </label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                            formControlName="sexo">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let sexo of sexo"
                                                [value]="sexo">
                                                {{sexo}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('sexo')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">¿Tú mascota tiene microchip?</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                              formControlName="microChip">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let pregunta of pregunta"
                                                [value]="pregunta">
                                                {{pregunta}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('microChip')" >* Campo obligatorio</p>
                                  </div>
                                    <div class="form-group col-md-4">
                                      <label for="inputCity">Edad de tu mascota en años</label>
                                      <input type="number"
                                             class="form-control"
                                             formControlName="edad">
                                             <p class="col text-danger" *ngIf="campoNoValido('edad')" >* Campo obligatorio</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Esquema de vacunación completo</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="vacunacion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let pregunta of pregunta"
                                                [value]="pregunta">
                                                {{pregunta}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('vacunacion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputCity">Dirección</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="direccion">
                                           <p class="col text-danger" *ngIf="campoNoValido('direccion')" >* Campo obligatorio</p>
                                  </div>

                                  <div class="form-group col-md-4">
                                    <label for="inputState">Comuna</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="comuna">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let comuna of comuna"
                                                [value]="comuna">
                                                {{comuna}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('comuna')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">¿Su mascota esta esterilizada?</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="esterilizacion">
                                      <option  value="" selected></option>
                                      <option
                                          *ngFor="let pregunta of pregunta"
                                          [value]="pregunta">
                                          {{pregunta}}
                                      </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('esterilizacion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Lugar donde habita</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="habita">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let habita of habita"
                                                [value]="habita">
                                                {{habita}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('habita')" >* Campo obligatorio</p>
                                  </div>

                                  <div class="form-group col-md-4">
                                    <label for="inputState">Tipo de alimentación</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="tipoAlimentacion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let alimentacion of alimentacion"
                                                [value]="alimentacion">
                                                {{alimentacion}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('tipoAlimentacion')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Adquisición de la mascota</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="adquisicion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let adquisicion of adquisicion"
                                                [value]="adquisicion">
                                                {{adquisicion}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('adquisicion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Estado</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="estado">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let estado of estado"
                                                [value]="estado">
                                                {{estado}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('estado')" >* Campo obligatorio</p>
                                  </div>

                                </div>
                                <div style="display: flex;justify-content: center;">
                                  <button type="submit" class="btn btn-outline-primary btn-lg">
                                    <i class="fa-sharp fa-solid fa-bowl-food"></i> Registrar</button>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>
              <!-- Row -->
              <br>
              <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                        <div class="card-body">
                          <h2 style="color: #009efb">Tus Mascotas</h2>
                            <div class="table-responsive">
                              <table class="table customize-table v-middle">
                                <thead class="table-dark" style="text-align: center;">
                                  <tr >
                                    <th class="campos">Nombre mascota</th>
                                    <th class="campos">Especie</th>
                                    <th class="campos">Caracteristicas</th>
                                    <th class="campos">Sexo</th>
                                    <th class="campos">Comuna</th>
                                    <th class="campos">Adquisición</th>
                                    <th class="campos">Estado</th>
                                    <th class="campos">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  *ngFor="let mascota of mascotas">
                                    <td>
                                      <div>
                                        <img src="../../../assets/images/mascota.png" class="rounded-circle" width="40">
                                        <span class="ms-3 fw-normal" >{{mascota.nombreMascota}}</span>
                                      </div>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">{{mascota.especie}}</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">{{mascota.caracteristica}}</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">{{mascota.sexo}}</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">{{mascota.comuna}}</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">{{mascota.adquisicion}}</span>
                                    </td>
                                    <td style="text-align:center ;">
                                      <span *ngIf="mascota.estado == 'Vivo'" class="badge bg-success py-1">{{mascota.estado}}</span>
                                      <span *ngIf="mascota.estado == 'Muerto'" class="badge bg-primary py-1">{{mascota.estado}}</span>
                                      <span *ngIf="mascota.estado == 'Perdido'" class="badge bg-danger py-1">{{mascota.estado}}</span>
                                      <span *ngIf="mascota.estado == 'En adopción'" class="badge bg-warning py-1">{{mascota.estado}}</span>

                                    </td>
                                    <td>
                                      <div style="text-align:center ;">
                                        <button type="button"
                                                class="btn btn-info"
                                                (click)="editarMascota(mascota)"  >
                                          <i class="fa-solid fa-eye"></i><span> Detalle</span>
                                        </button>

                                      </div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-modal></app-modal>
