                <!-- Row -->
                <div class="row ">
                  <!-- Column -->
                      <!-- Single Advisor-->
                      <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                          <!-- Team Thumb-->
                          <div class="advisor_thumb" style="text-align:center ;"><img src="../../../assets/login/images/cachorro.jpg" width="330" height="330" style="border-radius: 10px; ;">
                            <!-- Social Info-->
                            <div class="social-info"><a href="#"><i class="fa-solid fa-paw"></i></a></div>
                          </div>
                          <!-- Team Details-->
                          <div class="single_advisor_details_info">
                            <h6 style="color:#fff ;">Mascota</h6>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                            <div class="card-body">

                              <img src="" alt="">
                              <input type="file"
                                      >
                              <br>
                              <br>
                              <button type="button2"
                               class="btn btn-outline-primary btn-block "

                              ><i class="fa-solid fa-image"></i> Cargar imagen</button>


                            </div>
                          </div>
                        </div>
                      </div>
                  <!-- Column -->
                  <div class="col-lg-8 col-xlg-9 col-md-7">
                      <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                          <div class="card-body">
                            <h2 style="color: #009efb">Registrar Mascota</h2>
                              <form [formGroup]="mascotaForm"
                                    (ngSubmit)="crearMascota()" >

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputEmail4">Nombre Mascota</label>
                                    <input type="text"
                                           class="form-control"
                                          formControlName="nombreMascota">
                                          <p class="col text-danger" *ngIf="campoNoValido('nombreMascota')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Especie</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                           formControlName="especie">
                                      <option  value="" selected></option>
                                      <option
                                            *ngFor="let especie of especie"
                                            [value]="especie">
                                            {{especie}}
                                      </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('especie')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Caracteristica</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                            formControlName="caracteristica">
                                            <option  value="" selected></option>
                                            <option
                                                  *ngFor="let caracteristica of caracteristica"
                                                  [value]="caracteristica">
                                                {{caracteristica}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('caracteristica')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Sexo de tu mascota </label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                            formControlName="sexo">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let sexo of sexo"
                                                [value]="sexo">
                                                {{sexo}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('sexo')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">¿Tú mascota tiene microchip?</label>
                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                              formControlName="microChip">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let pregunta of pregunta"
                                                [value]="pregunta">
                                                {{pregunta}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('microChip')" >* Campo obligatorio</p>
                                  </div>
                                    <div class="form-group col-md-4">
                                      <label for="inputCity">Edad de tu mascota en años</label>
                                      <input type="number"
                                             class="form-control"
                                             formControlName="edad">
                                             <p class="col text-danger" *ngIf="campoNoValido('edad')" >* Campo obligatorio</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Esquema de vacunación completo</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="vacunacion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let pregunta of pregunta"
                                                [value]="pregunta">
                                                {{pregunta}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('vacunacion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputCity">Dirección</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="direccion">
                                           <p class="col text-danger" *ngIf="campoNoValido('direccion')" >* Campo obligatorio</p>
                                  </div>

                                  <div class="form-group col-md-4">
                                    <label for="inputState">Comuna</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="comuna">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let comuna of comuna"
                                                [value]="comuna">
                                                {{comuna}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('comuna')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">¿Su mascota esta esterilizada?</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="esterilizacion">
                                      <option  value="" selected></option>
                                      <option
                                          *ngFor="let pregunta of pregunta"
                                          [value]="pregunta">
                                          {{pregunta}}
                                      </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('esterilizacion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Lugar donde habita</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="habita">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let habita of habita"
                                                [value]="habita">
                                                {{habita}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('habita')" >* Campo obligatorio</p>
                                  </div>

                                  <div class="form-group col-md-4">
                                    <label for="inputState">Tipo de alimentación</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="tipoAlimentacion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let alimentacion of alimentacion"
                                                [value]="alimentacion">
                                                {{alimentacion}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('tipoAlimentacion')" >* Campo obligatorio</p>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Adquisición de la mascota</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="adquisicion">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let adquisicion of adquisicion"
                                                [value]="adquisicion">
                                                {{adquisicion}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('adquisicion')" >* Campo obligatorio</p>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">Estado</label>
                                    <select class="custom-select my-1 mr-sm-2"
                                            id="inlineFormCustomSelectPref"
                                            formControlName="estado">
                                            <option  value="" selected></option>
                                            <option
                                                *ngFor="let estado of estado"
                                                [value]="estado">
                                                {{estado}}
                                            </option>
                                    </select>
                                    <p class="col text-danger" *ngIf="campoNoValido('estado')" >* Campo obligatorio</p>
                                  </div>

                                </div>
                                <div style="display: flex;justify-content: center;">
                                  <button type="submit" class="btn btn-outline-primary btn-lg">
                                    <i class="fa-sharp fa-solid fa-bowl-food"></i> Registrar</button>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
              </div>
              <!-- Row -->
              <br>
              <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
                        <div class="card-body">
                          <h2 style="color: #009efb">Tus Mascotas</h2>
                            <div class="table-responsive">
                              <table class="table customize-table v-middle">
                                <thead class="table-dark" style="text-align: center;">
                                  <tr >
                                    <th class="campos">Nombre mascota</th>
                                    <th class="campos">Especie</th>
                                    <th class="campos">Raza</th>
                                    <th class="campos">Sexo</th>
                                    <th class="campos">Comuna</th>
                                    <th class="campos">Adquisición</th>
                                    <th class="campos">Estado</th>
                                    <th class="campos">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr style="text-align: center;">
                                    <td>
                                      <div style="text-align: center;">
                                        <img src="../../../assets/login/images/cachorro.jpg" class="rounded-circle" width="40">
                                        <span class="ms-3 fw-normal" >Apolo</span>
                                      </div>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">Perro</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">Samoyedo</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">Macho</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">Comuna 10 - la candelaria</span>
                                    </td>
                                    <td>
                                      <span class="ms-3 fw-normal">Compra</span>
                                    </td>
                                    <td>
                                      <span class="badge bg-success py-1">Vivo</span>
                                    </td>
                                    <td>
                                      <div>
                                        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" >
                                          <i class="fa-solid fa-pen-to-square"></i><span> Editar</span>
                                        </button>
                                        <button type="button" class="btn btn-info">
                                          <i class="fa-solid fa-eye"></i><span> Detalle</span>
                                        </button>

                                      </div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
