<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-small-cap" style="margin-top: 0px;">
              <span class="hide-menu">Area Persona</span>
            </li>
              <!-- User Profile-->
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                  [routerLink]="['/dashboard']" aria-expanded="false" ><i class="me-3  fas fa-home"
                          aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a></li>


              <li class="sidebar-item">
                 <a class="sidebar-link waves-effect waves-dark sidebar-link"
                  [routerLink]="['/perfil']" aria-expanded="false" >
                      <i class="me-3 fa fa-user" aria-hidden="true"></i><span
                          class="hide-menu">Mi Perfil</span></a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                  [routerLink]="['/mascota']" aria-expanded="false" ><i class="me-3 fa-solid fa-shield-dog"
                          aria-hidden="true"></i><span class="hide-menu">Mis Mascotas</span></a></li>


              <li class="sidebar-item">
                 <a class="sidebar-link waves-effect waves-dark sidebar-link"
                 [routerLink]="['/informacion']"  aria-expanded="false" ><i class="me-3 fa-solid fa-magnifying-glass"
                          aria-hidden="true"></i><span class="hide-menu">Consulta mascotas</span></a></li>

              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                 [routerLink]="['/analisis']" aria-expanded="false"><i class="me-3 fas fa-chart-bar"
                          aria-hidden="true"></i><span class="hide-menu">Analisis Grafico</span></a></li>
          </ul>

      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
