<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 login-section-wrapper" style="padding-left: 150px">
        <div class="brand-wrapper">
          <img src="././assets/login/images/logo1.png" alt="logo" class="logo">
        </div>

        <div class="login-wrapper my-auto" style="width: 500px; margin-left: 60px;">
          <h1 class="login-title" style="text-align:center ; margin-bottom: 60px;">REGISTRO NUEVO USUARIO</h1>

          <form
          [formGroup]="usuarioForm"
          (ngSubmit)="crearPersona()">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Nombre</label>
                <input  type="text"
                        class="form-control"
                        formControlName="nombre">
                        <p class="col text-danger" *ngIf="campoNoValido('nombre')" >* El nombre es obligatorio</p>
              </div>
              <div class="form-group col-md-6">
                <label for="">Apellido</label>
                <input type="text"
                       class="form-control"
                       formControlName="apellido">
                       <p class="col text-danger" *ngIf="campoNoValido('apellido')" >* El apellido es obligatorio</p>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Tipo de documento</label>
                <select class="form-control"
                        formControlName="tipoDocumento">
                  <option value="" selected>Selecione...</option>
                  <option
                    *ngFor="let tipoDocumento of tipoDocumentos"
                    [value]="tipoDocumento">
                    {{tipoDocumento}}
                  </option>
                </select>
                <p class="col text-danger" *ngIf="campoNoValido('tipoDocumento')" >* El tipo de documento es obligatorio</p>
              </div>
              <div class="form-group col-md-6">
                <label for="">Número del documento</label>
                <input type="text"
                       class="form-control"
                       formControlName="numeroDocumento">
                       <p class="col text-danger" *ngIf="campoNoValido('numeroDocumento')" >* El número de documento es obligatorio</p>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="">Ciudad</label>
                <input type="text"
                       class="form-control"
                       formControlName="ciudad">
              </div>
              <div class="form-group col-md-8">
                <label for="">Dirección</label>
                <input type="text"
                       class="form-control"
                       formControlName="direccion">
                       <p  class="col text-danger" *ngIf="campoNoValido('direccion')" >* La dirreción es obligatorio</p>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Comuna</label>
                <select class="form-control"
                        formControlName="comuna">
                  <option value="" selected>Selecione...</option>
                  <option
                    *ngFor="let comuna of comunas"
                    [value]="comuna">
                    {{comuna}}
                  </option>
                </select>
                <p class="col text-danger" *ngIf="campoNoValido('comuna')" >* La comuna es obligatorio</p>
              </div>
              <div class="form-group col-md-6">
                <label for="">Celular</label>
                <input type="number"
                       class="form-control"
                       formControlName="celular">
                       <p class="col text-danger" *ngIf="campoNoValido('celular')" >* El celular es obligatorio</p>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input type="email"
                     class="form-control"
                     formControlName="email">
                     <p class="col text-danger" *ngIf="campoNoValido('email')" >* El correo electrónico es obligatorio</p>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password"
                     class="form-control"
                     formControlName="clave">
                     <p class="col text-danger" *ngIf="campoNoValido('clave')" >* La contraseña es obligatorio</p>
            </div>

            <div class="form-group" style="margin-top: 50px;">
              <button type="submit" class="btn btn-block login-btn2">Registrar</button>
            </div>
          </form>
          <a [routerLink]="['/tipoUsuario']" class="forgot-password-link">Regresar</a>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="././assets/login/images/perro5.jpg" alt="login image" class="login-img">
      </div>
    </div>
  </div>
  </main>

