<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 login-section-wrapper" style="padding-left: 150px">
        <div class="brand-wrapper">
          <img src="././assets/login/images/logo1.png" alt="logo" class="logo">
        </div>

        <div class="login-wrapper my-auto" style="width: 500px; margin-left: 60px;">
          <h1 class="login-title" style="text-align:center ; margin-bottom: 60px;">REGISTRO NUEVO USUARIO</h1>
          <form action="#!">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Nombre</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="form-group col-md-6">
                <label for="">Apellido</label>
                <input type="text" class="form-control" id="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Tipo de documento</label>
                <select id="inputState" class="form-control">
                  <option selected>Selecione...</option>
                  <option>Cedula</option>
                  <option>Pasaporte</option>
                  <option>Tarjeta de identidad</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="">Número del documento</label>
                <input type="text" class="form-control" id="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="">Ciudad</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="form-group col-md-8">
                <label for="">Dirección</label>
                <input type="text" class="form-control" id="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Comuna</label>
                <select id="inputState" class="form-control">
                  <option selected>Selecione...</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="">Celular</label>
                <input type="number" class="form-control" id="">
              </div>
            </div>
            <div class="form-group" style="margin-top: 50px;">
              <button type="button" class="btn btn-block login-btn2">Registrar</button>
            </div>
          </form>
          <a [routerLink]="['/tipoUsuario']" class="forgot-password-link">Regresar</a>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="././assets/login/images/perro5.jpg" alt="login image" class="login-img">
      </div>
    </div>
  </div>
  </main>

