<div class="col-12">
  <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
    <div class="card-body">
      <h2 style="color: #009efb">Gráfica</h2>
      <h6>Seleccione las variables para realizar el análisis gráfico</h6>

      <form [formGroup]="graficaForm" (ngSubmit)="grafica2()">
        <div class="form-row align-items-center ">
          <div class="col-md-5">

            <select class="form-control" formControlName="listaVariables">
              <option value="" selected>Seleccione una variable...</option>
              <option *ngFor="let listaVariables of listaVariables" [value]="listaVariables">
                {{listaVariables}}
              </option>
            </select>
            <p class="col text-danger" *ngIf="campoNoValido('listaVariables')" >* Este campo es obligatorio</p>
          </div>
          <div class="col-md-5">
            <select class="form-control" formControlName="listaComunas">
              <option value="" selected>Selecciona una comuna...</option>
              <option *ngFor="let listaComunas of listaComunas" [value]="listaComunas">
                {{listaComunas}}
              </option>
            </select>
            <p class="col text-danger" *ngIf="campoNoValido('listaComunas')" >* Este campo es obligatorio</p>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Generar gráfica</button>
          </div>
        </div>
      </form>
      <br>
      <br>

    </div>
  </div>
</div>

    <div class="row">
      <!-- column -->
        <!-- column -->
        <div class="col-12">
          <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
              <div class="card-body">
                  <h4 class="card-title">Mascotas</h4>
                  <canvas baseChart class="flot-base w-100" height="500"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [type]="barChartType"
                  >
                </canvas>
              </div>
          </div>
      </div>

      <!-- column -->
  </div>
