<div class="col-12">
  <div class="card" style="border-radius: 1rem; box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
    <div class="card-body">
      <h6>Seleccione la variable y el tipo de gráfico que desea visualizar</h6>

      <form [formGroup]="graficaForm" (ngSubmit)="consultas()">
        <div class="form-row align-items-center ">
          <div class="col-md-5">

            <select class="form-control" formControlName="listaVariables">
              <option value="" selected>Seleccione una variable</option>
              <option *ngFor="let listaVariables of listaVariables" [value]="listaVariables">
                {{listaVariables}}
              </option>
            </select>
            <p class="col text-danger" *ngIf="campoNoValido('listaVariables')">* Este campo es obligatorio</p>
          </div>
          <div class="col-md-5">
            <select class="form-control" formControlName="listaGraficos">
              <option value="" selected>Seleccione tipo de gráfico</option>
              <option *ngFor="let listaGraficos of listaGraficos" [value]="listaGraficos">
                {{listaGraficos}}
              </option>
            </select>
            <p class="col text-danger" *ngIf="campoNoValido('listaGraficos')">* Este campo es obligatorio</p>
          </div>

        </div>
        <div style="margin-top: 10px;">
          <button type="submit" class="btn btn-primary" style="margin-right: 10px;" >Generar gráfica</button>
          <button type="button" class="btn btn-danger" (click)="limpiar()">Limpiar</button>
        </div>
      </form>
      <br>
      <br>

    </div>
  </div>
</div>

<div class="col-lg-12 col-xlg-9 col-md-7" *ngIf="cargando">
  <div class="alert alert-info text-center">
    <h4 class="alert-heading">Cargando</h4>
    <i class="fa fa-spin fa-refresh fa-2x"></i>
    <p class="mb-0">Por favor espere</p>
  </div>

</div>

<div class="row">
  <!-- column -->
  <div class="col-12"  *ngIf="!cargando">
    <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
      <div class="card-body">
        <h2 style="color: #009efb" class="card-title">Gráfica</h2>
        <div style="display: block" *ngIf="barChartData">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- column -->

</div>
