
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="row">
      <!-- Column -->
      <div class="col-3">
        <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">

              <div class="card-body" >
                <div class="row py-2">
                  <!-- Column -->
                  <div class="col d-flex align-items-center">
                    <div>
                      <h1 class="fw-light">{{argumento1}}</h1>
                      <h6 class="text-muted-1 mb-0 fw-normal">
                        Personas
                      </h6>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col d-flex align-items-center justify-content-end">
                    <div>
                      <img src="./assets/images/dashboard/10.png" style="width:70px; height: 67px;">
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-3">
        <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
              <div class="card-body" >
                <div class="row py-2">
                  <!-- Column -->
                  <div class="col d-flex align-items-center">
                    <div>
                      <h1 class="fw-light">{{argumento2}}</h1>
                      <h6 class="text-muted-1 mb-0 fw-normal">
                        Empresas
                      </h6>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col d-flex align-items-center justify-content-end">
                    <div>
                      <img src="./assets/images/dashboard/12.png" style="width:70px; height: 67px;">
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
      <!-- Column -->
      <div class="col-3">
        <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">

              <div class="card-body" >
                <div class="row py-2">
                  <!-- Column -->
                  <div class="col d-flex align-items-center">
                    <div>
                      <h1 class="fw-light">20</h1>
                      <h6 class="text-muted-1 mb-0 fw-normal">
                        Perros
                      </h6>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col d-flex align-items-center justify-content-end">
                    <div>
                      <img src="./assets/images/dashboard/dashboard 1.png"  style="width:70px; height: 67px;">
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
    <!-- Column -->
    <div class="col-3">
      <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
            <div class="card-body" >
              <div class="row py-2">
                <!-- Column -->
                <div class="col d-flex align-items-center">
                  <div>
                    <h1 class="fw-light">15</h1>
                    <h6 class="text-muted-1 mb-0 fw-normal">
                      Gatos
                    </h6>
                  </div>
                </div>
                <!-- Column -->
                <div class="col d-flex align-items-center justify-content-end">
                  <div>
                    <img src="./assets/images/dashboard/dashboard 3.png"  style="width:70px; height: 67px;">
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>


  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="row">
      <!-- column -->
      <div class="col-6">
          <div class="card"  style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
              <div class="card-body">
                  <h4 class="card-title">Usuarios</h4>
                  <canvas baseChart class="flot-base w-100" height="500"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [type]="barChartType"
                  >
                </canvas>
              </div>
          </div>
      </div>
      <!-- column -->

        <!-- column -->
        <div class="col-6">
          <div class="card" style="border-radius:1rem;  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);">
              <div class="card-body">
                  <h4 class="card-title">Mascotas</h4>
                  <canvas baseChart class="flot-base w-100" height="500"
                  [data]="barChartData2"
                  [options]="barChartOptions2"
                  [plugins]="barChartPlugins2"
                  [type]="barChartType2">
                  >
                </canvas>
              </div>
          </div>
      </div>
      <!-- column -->
  </div>



